.App {
  text-align: center;
}
.flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.grid{
  display: grid;
}
.primary-button{
  background-color: green;
  height: 36px;
  color: white;
  border:none;
  padding: auto 8px;
  
}
.primary-button::before{
  content: "\00a0\00a0";
}
.primary-button::after{
  content: "\00a0\00a0";
}